@model List<ContatoModel>
@{
    ViewData["Title"] = "Contato";
}



<div class="text-center">
    <h1 class="display-4">Listagem de Contatos</h1>

    <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-3">
        <a class="btn btn-primary" role="button" asp-controller="Contato" asp-action="Criar">Adicionar Novo Contato</a>
    </div>

    <div class="alert alert-success" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert">X</button>
        This is a success alert—check it out!S
    </div>

    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert">X</button>
        This is a danger alert—check it out!
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">E-mail</th>
                <th scope="col">Número</th>
            </tr>
        </thead>
        <tbody>

            @if(Model != null && Model.Count > 0)
            {
                foreach (ContatoModel contato in Model)
                {
                    <tr>
                        <th scope="row">@contato.Id</th>
                        <td>@contato.Nome</td>
                        <td>@contato.Email</td>
                        <td>@contato.Telefone</td>
                        <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a role="button" class="btn btn-success" asp-route-id="@contato.Id" asp-controller="Contato" asp-action="Editar">Editar</a>
                        <a role="button" class="btn btn-danger" asp-route-id="@contato.Id" asp-controller="Contato" asp-action="AvisoApagar">Apagar</a>
                    </div>
                </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="4" class="text-center">Nenhum contato cadastrado.</td>
                </tr>
            }

        </tbody>
    </table>
</div>
